
###############
#    folder   #
###############
bin/
obj/
debug/
release/
Logs/
TEMP/
packages/


###############
#  fixed file #
###############
*.exe
*.lib
*.dll
*.obj
*.db
*.pdb
*.suo
*.msi
*.user
*.suo
*.Cache

###############
#  temp file  #
###############
~*
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp
*.cfs
*.del

###############
#    script   #
###############
*.bat
*.licx
